In [ ]:
#TABLE CREATION
CREATE TABLE Weather (
    id INT PRIMARY KEY,
    recordDate DATE,
    temperature INT
);

In [ ]:
#INSERT DATA
INSERT INTO Weather (id, recordDate, temperature) VALUES 
(1, '2015-01-01', 10),
(2, '2015-01-02', 25),
(3, '2015-01-03', 20),
(4, '2015-01-04', 30);

In [ ]:
#SQL Query to find IDs with higher temperatures than the previous day
SELECT W1.id
FROM Weather W1
JOIN Weather W2
  ON W1.recordDate = DATE_ADD(W2.recordDate, INTERVAL 1 DAY)
WHERE W1.temperature > W2.temperature;

#OUTPUT:
+----+
| id |
+----+
| 2  |
| 4  |
+----+